.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .logo {
    font-size: 28px;
    color: #0077cc;
  }
  
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  
  .nav-item {
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  
  .get-started {
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to right, #4B42D7, #12ACBA);
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
  }
  
  .get-started:hover {
    background-color: #5f00e2;
  }
  